/*Ej 1 y3*/
.red-text{
    color: red;
}
    /*Ej 2
    h2{
        color:blue;
    }*/
/*Ejercicio 5 y6*/
p{
    font-size: 16px;
    font-family: monospace;
}
/*7 y 8*/
h2{
    font-family:Lobster;
    font-family: monospace;
}
/*Ejercicio 9 y 11*/
.smaller-image{
    width: 100px;
    border-radius: 10px;
}
/*Ejercicio 10 y 12*/
.thick-green-border{
    border: 10px solid green;
    border-radius: 50%;
}
/*Ejercicio 13*/
.silver-background{
    background-color: silver;
}
/*Ejercicio 14*/
#lista-viñetas{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Ejercicio 15*/
#lista-num{
    font-size: 12px;
    font-family: sans-serif;
}
/*Ejercicio 16
    Ya creado con anterioridad
*/
/*Ejercicio 17*/
table{
    width: 20%;
    font-family: monospace;
    text-align: center;
}
.DWEC{
    background-color: orange;
    color: white;
}
.DWES{
    background-color: blue;
    color: white;
}
.DIW{
    background-color: red;
    color: white;
}
.DAW{
    background-color: rgb(104, 99, 99);
    color: white
}
.EIE{
    background-color: rgb(104, 163, 14);
    color: white;
}
.recreo{
    background-color: rgb(0, 0, 0);
    color: white;
}