#paleta td {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Contenedor del tablero de dibujo */
#zonadibujo {
  display: grid;
  grid-template-columns: repeat(30, 20px); /* 30 columnas de 20px */
  grid-template-rows: repeat(30, 20px);    /* 30 filas de 20px */
  gap: 1px; /* Espacio entre celdas */
  margin-top: 20px; /* Espacio superior */
  border: 2px solid #333; /* Borde para el contenedor */
  background-color: #f0f0f0; /* Color de fondo del contenedor */
}

/* Estilos para cada celda */
.celda {
  width: 20px;
  height: 20px;
  background-color: #ffffff; /* Color de fondo inicial de las celdas */
  border: 1px solid #ccc; /* Borde para visualizar las celdas */
}

.celda:hover {
    border-color: #000;
}

.celda.pintada {
    border-color: #000;
}

.color1 { background-color: yellow; }
.color2 { background-color: green; }
.color3 { background-color: black; }
.color4 { background-color: red; }
.color5 { background-color: blue; }
.color6 { background-color: white; }

.seleccionado {
    border: 2px solid #000;
}